
/* html5 reset css file */
@import url('html5reset.css');
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Pirata+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);

/* standard css for desktop browsers */
body {
	background-image: url("../img/clouds5.jpg");
	background-color:#37f;
	background-size:  100%;
	width: 100%;
}



abbr {
    position: relative;
}

abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 1em;
    background: #222;
    content: attr(title);
    font-weight: bold;
    color:#37e;
    font-size: 1em;
}



.extra1 {
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -160px;
    z-index: 10;
    background-image: url('../img/plane3.gif');
    height: 300px;
    width: 300px;
    background-size: 100% 100%;
}

h1{
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 30px;
}

h3{
	font-size: 20px;
}

body div{
	
	border: solid black 0px;
}

header{
	position: relative;
	z-index: 300;
	width: 100%;
	background-image: url("../img/world.jpg");
	background-size: 100% 100%;
	height: 800px;
}


header h1{
	font-size: 3em;
	background: rgba(100,150,160,.4);
	color: rgb(160,160,160);
	font-family: 'Open Sans', sans-serif;
	font-weight: 800; 
    width: 20%;
    height: 600px;
    padding: 200px 1em 0 .5em;
    float: left;
}

header h2{ 
	padding-top: 200px;
	font-size: 4em;
	color: #eef;
	padding-right: 80px;
	text-align: right;
}

.summary{
	margin-top: 700px;
	background-image: url("../img/taj.jpg");
	background-size: 100% 100%;
	height: 800px;
	padding: 20px;
	font-family: 'Amatic SC', cursive;
	clear:both;
	z-index: 12;
	position: relative;
}


.summary p{
	color: black;
	padding: 30px;
	font-size: 5em;
	font-weight: bolder;
	background: rgba(100,100,100,.4);
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

.summary p:first-child{
	padding-top: 20px;
}

.summary a{
	text-decoration: none;
	text-shadow: none;
	color: #555;
}


.preamble{
	background-image: url("../img/road2g.jpg");
	background-size: 100% 100%;
	background-color: #000;
	margin-top: 800px;
	height: 800px;
	z-index: 12;
	position: relative;


	margin-left: auto;
	margin-right: auto;


	text-align: center;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.preamble p{
	padding: 20px;
	font-size: 2em;
	margin-right: 100px;
	margin-left: 100px;

	font-weight: bolder;
}

.preamble h3{
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	padding-top: 100px;

	/*
	background: red;
	padding-top: 500px;
	background-image: url('../clouds.jpg');
	*/

}

#zen-explanation{
	background: url("../img/tower.jpg");
	background-size: 100% 100%;
	height: 900px;
	margin-top: 700px;
	position: relative;
	z-index: 12;
	clear:both;	
}

#zen-explanation h3{
	font-size: 3em;
	text-align: center;
	padding: 10px;
}


#zen-explanation p{
	font-size: 2em;
	padding: 10px;	
}



#zen-explanation p:nth-child(2){
	text-align: justify;
	margin-right: 60%;
	margin-left: 2%;
	float: left;

}

#zen-explanation p:nth-child(3){
	text-align: justify;	
	margin-left: 60%;
	margin-right: 2%;
	float: right;
	position: absolute;
}


#zen-participation{
	background: url("../img/bridge.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: 0px -100px;
	height: 900px;
	font-weight: bolder;
	position: relative;
	z-index: 12;
	margin-top: 700px;

}

#zen-participation h3{
	font-size: 4em;
	text-align: center;
	padding: 10px;
	margin-top: 50px;
	color: black;
	background: rgba(100,100,100,.7);
}


#zen-participation p{
	font-size: 1.4em;
	padding: 25px;
	background: rgba(100,100,100,.7);	
	text-align: center;
	color: black;
	font-weight: bolder;
	padding-left: 5%;
	padding-right: 5%;
}


/*
diff sizes for pyrimiad
#zen-participation p:nth-child(2){
	text-align: justify;
	margin-right: 20%;
	margin-left: 35%;
	margin-top: 15%;
}

#zen-participation p:nth-child(3){
	text-align: justify;	
	margin-right: 10%;
	margin-left: 15%;	
}

#zen-participation p:nth-child(4){
	text-align: justify;	
	margin-right: 7%;
	margin-left: 12%;	
}

*/


#zen-benefits{
	background: url("../img/newyork.jpg");
	background-size: 100% 100%;
	height: 900px;

	color:white;
	padding: 10px;
	position: relative;
	z-index: 12;
	margin-top: 700px;
	padding-left: 25%;
	padding-right: 25%;


}

#zen-benefits p{
	font-size: 2em;
	background: rgba(100,100,100,.5);
	padding: 20px;
	margin-top: 20px;
}

#zen-benefits h3{
	font-family: 'Pirata One';
	font-size: 3em;
	text-align: center;
	margin-top: 100px;
}



#zen-requirements{
	background-size: 100% 100%;
	height: 900px;

	color:#112;
	padding: 10px;
	position: relative;
	z-index: 12;
	margin-top: 700px;
	background-image: url("../img/wall.jpg");

}

#zen-requirements h3{
	font-family: 'Pirata One';
	font-size: 4em;
	text-align: center;
	margin-top: 60px;
}

#zen-requirements p{
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	font-weight: bold;
	padding: 10px;
	background: rgba(100,100,100,.8);
}

#zen-requirements a{
	text-decoration: none;
	color: #999;
}

#zen-requirements p:nth-child(2){
	margin-top: 300px;
}

/*
footer{

}
*/

.design-selection, .design-archives, .zen-resources {
	color: #111;
	background: rgba(200,200,200,.8);
	position: absolute;
	height: 800px;
	width: 20%;
	padding: 10px;
	padding-left: 20px;
	z-index: 11;
	padding-top: 100px;
	font-size: 1.5em;
}

.design-selection li, .design-archives li, .zen-resources li{
	padding: 10px;
}

.design-selection a, .design-archives a, .zen-resources a{
	text-decoration: none;
	color: #111;
}

.design-selection a:hover, .design-archives a:hover, .zen-resources a:hover{
	color: #fff;
}

.design-selection{
	bottom: -2380px;
}

.design-archives{
	bottom: -5590px;
}

.zen-resources{
	bottom: -3990px;
}



footer{
	background: #333;
	position: relative;
	z-index: 12;
	text-align: center;
	padding: 10px;
	padding-bottom: 30px;
	bottom: 0;
	height: 60px;
}

footer a{
	padding: 5px;
	text-decoration: none;
	color:#ddd;
	font-size: 2em;
}

@media all and (max-width:900px){
	.summary p{
		font-size: 3em;
	}

	.preamble{
		padding-top: 10px;
	}
	.preamble p{
		font-size: 1.7em;
		padding: 10px;
	}


	#zen-explanation p{
		font-size: 1.7em;
	}

	#zen-requirements p:nth-child(2){
		margin-top: 30px;
	}
}


@media all and (max-width:600px){
	.summary p{
		font-size: 2em;
		padding-top: 20px;
	}

	.preamble{
		padding-top: 10px;
	}
	.preamble p{
		font-size: 1.4em;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 10px;
	}

	.preamble h3{
		padding-top: 20px;
		font-size: 2.2em;
	}

	#zen-explanation p{
		font-size: 1.25em;
	}

	header h1{
		font-size: 2em;
	}

	/*
	diff sizes for pyrimiad

	#zen-participation p:nth-child(2){
		text-align: justify;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 10%;
	}

	#zen-participation p:nth-child(3){
		text-align: justify;	
		margin-right: 5%;
		margin-left: 5%;	
	}

	#zen-participation p:nth-child(4){
		text-align: justify;	
		margin-right: 1%;
		margin-left: 1%;	
	}
	*/


	#zen-participation p{
		font-size: .9em;
	}

	#zen-benefits p{
		font-size: .9em;
		background: rgba(100,100,100,.5);
		padding: 10px;
		margin-top: 10px;
	}

	#zen-requirements h3{
		margin-top: 3px;
	}

	#zen-requirements p{
		font-size: .8em;
		margin-left: 5px;
		margin-right: 5px;
	}

	.design-selection, .design-archives, .zen-resources {
		color: #111;
		background: rgba(200,200,200,.8);
		position: absolute;
		height: auto;
		min-height: 300px;
		width: 100%;
		padding: 10px;
		padding-left: 20px;
		z-index: 11;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 1.5em;
	}

	.design-selection{
		bottom: -2180px;
	}

	.design-archives{
		bottom: -5340px;
	}

	.zen-resources{
		bottom: -3790px;
	}





}


/* override css for mobile browsers */
@media all and (max-width:400px) {
	body {
		font-size:1em;
	}

	.summary p{
		font-size: 1em;
	}

	.preamble h3{
		font-size: 2em;
	}
	.preamble p{
		font-size: 1em;
	}

	#zen-explanation p{
		font-size: .8em;
	}


	header h1{
		font-size: 3em;
	    width: 100%;
	    height: 200px;

	}

	header h2{
		font-size: 4em;
	}

	#zen-participation h3{
		font-size: 2.5em;
	}

	#zen-participation p{
		font-size: .8em;
	}

}