
/* html5 reset css file */
@import url('html5reset.css');
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Pirata+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);

/* standard css for desktop browsers */
body {
	background-image: url("../img/clouds5.jpg");
	background-color:#37f;

}


abbr {
    position: relative;
}

abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 1em;
    background: #222;
    content: attr(title);
    font-weight: bold;
    color:#37e;
}



.extra1 {
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -160px;
    z-index: 10;
    background-image: url('../img/plane3.gif');
    height: 300px;
    width: 300px;
    background-size: 100% 100%;
}

h1{
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 30px;
}

h3{
	font-size: 20px;
}

body div{
	
	border: solid black 0px;
}

header{
	z-index: 12;
	position: relative;
}


header h1{
	font-size: 3em;
	float: left;
	background: #3c4262;
	color: #edcbc2 	;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800 italic;
    background-size: 49%;
    width: 20%;
    height: 600px;
    padding: 200px 1em 0 .5em;
    clear:both;
    position: static;
}

header h2{ 
	z-index: 300;
	width: 100%;
	background-image: url("../img/world.jpg");
	background-size: 100% 100%;
	height: 600px;
	padding-top: 200px;
	font-size: 4em;
	color: #eef;
	text-align: right;
}

.summary{
	margin-top: 70%;
	background-image: url("../img/taj.jpg");
	background-size: 100% 100%;
	height: 800px;
	padding: 20px;
	font-family: 'Amatic SC', cursive;
	clear:both;
	z-index: 12;
	position: relative;
}


.summary p{
	color: black;
	padding: 30px;
	padding-top: 40px;
	font-size: 5em;
	font-weight: bolder;
}

.summary p:first-child{
	padding-top: 200px;
}

.summary a{
	text-decoration: none;
	text-shadow: none;
	color: #555;
}


.preamble{
	background-image: url("../img/road2g.jpg");
	background-size: 100% 100%;
	background-color: #000;
	margin-top: 800px;
	height: 800px;
	z-index: 12;
	position: relative;


	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.preamble p{
	padding: 20px;
	font-size: 2em;
	margin-right: 100px;
	margin-left: 100px;

	font-weight: bolder;
}

.preamble h3{
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	padding-top: 100px;

	/*
	background: red;
	padding-top: 500px;
	background-image: url('../clouds.jpg');
	*/

}

#zen-explanation{
	background: url("../img/tower.jpg");
	background-size: 100% 100%;
	height: 900px;
	margin-top: 700px;
	position: relative;
	z-index: 12;
	clear:both;	
}

#zen-explanation h3{
	font-size: 3em;
	text-align: center;
	padding: 10px;
}


#zen-explanation p{
	font-size: 2em;
	padding: 10px;	
}

#zen-explanation p:nth-child(2){
	text-align: justify;
	margin-right: 60%;
	margin-left: 2%;
	float: left;

}

#zen-explanation p:nth-child(3){
	text-align: justify;	
	margin-left: 60%;
	margin-right: 2%;
	float: right;
	position: absolute;
}

#zen-participation{
	background: url("../img/pyr2.jpg") no-repeat;
	background-size: 100% 100%;
	background-position: 0px -100px;
	height: 900px;
	clear:both;	
	font-weight: bolder;
	position: relative;
	z-index: 12;
	margin-top: 700px;
}

#zen-participation h3{
	font-size: 4em;
	text-align: center;
	padding: 10px;
	padding-top: 50px;
}


#zen-participation p{
	font-size: 1em;
	padding: 10px;	
	text-align: center;
	color: black;
	font-weight: bolder;
}

#zen-participation p:nth-child(2){
	text-align: justify;
	margin-right: 20%;
	margin-left: 35%;
	margin-top: 15%;
}

#zen-participation p:nth-child(3){
	text-align: justify;	
	margin-right: 10%;
	margin-left: 15%;	
}

#zen-participation p:nth-child(4){
	text-align: justify;	
	margin-right: 7%;
	margin-left: 12%;	
}




#zen-benefits{
	background: url("../img/volcan.jpg");
	background-size: 100% 100%;
	height: 900px;

	color:white;
	padding: 10px;
	position: relative;
	z-index: 12;
	margin-top: 700px;

}

#zen-benefits h3{
	font-family: 'Pirata One';
	font-size: 3em;
	text-align: center;
}



#zen-requirements{
	background-size: 100% 100%;
	height: 900px;

	color:#112;
	padding: 10px;
	position: relative;
	z-index: 12;
	margin-top: 700px;
	background-image: url("../img/wall.jpg");
	/*
	background: url("../img/wall.jpg"),linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 240px, rgba(255, 255, 255, 1) 290px),
	;*/

}

#zen-requirements h3{
	font-family: 'Pirata One';
	font-size: 4em;
	text-align: center;
	margin-top: 60px;
}

#zen-requirements p{
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	font-weight: bold;
	padding: 10px;
}

#zen-requirements a{
	text-decoration: none;
	color: #999;
}

#zen-requirements p:nth-child(2){
	margin-top: 300px;
}

/*
footer{

}
*/

.design-selection, .design-archives, .zen-resources {
	color: white;
	background: #999;
	text-align: center;
	padding: 10px;
	z-index: 12;
	position: absolute;
	height: 200px;
	width: 250px;
}

.design-selection a, .design-archives a, .zen-resources a{
	text-decoration: none;
	color:#eee;
}

.design-selection a:hover, .design-archives a:hover, .zen-resources a:hover{
	color:#000;
}

.design-selection{
	padding-bottom: 30px;
	bottom: -2300px;
	left: 50px;
}

.design-archives{
	padding-bottom: 30px;
	margin-right: 30px;
	bottom: -500px;
	right: -20px;
}

.zen-resources{
	padding-bottom: 30px;
	bottom: -3800px;
	right: 50px;
}



footer{
	background: #333;
	position: relative;
	z-index: 12;
	text-align: center;
	padding: 10px;
	padding-bottom: 30px;
	bottom: 0;
	clear: all;
	height: 60px;
}

footer a{
	padding: 5px;
	text-decoration: none;
	color:#ddd;
	font-size: 2em;
}

@media all and (max-width:900px){
	.summary p{
		font-size: 3em;
	}

	.preamble{
		padding-top: 10px;
	}
	.preamble p{
		font-size: 1.7em;
	}

	#zen-explanation p{
		font-size: 1.7em;
	}

	#zen-requirements p:nth-child(2){
	margin-top: 30px;
}
}


@media all and (max-width:600px){
	.summary p{
		font-size: 2em;
		padding-top: 20px;
	}

	.preamble{
		padding-top: 10px;
	}
	.preamble p{
		font-size: 1.7em;
	}

	#zen-explanation p{
		font-size: 1.25em;
	}

	header h1{
		font-size: 2em;
	}

	#zen-participation p:nth-child(2){
		text-align: justify;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 10%;
	}

	#zen-participation p:nth-child(3){
		text-align: justify;	
		margin-right: 5%;
		margin-left: 5%;	
	}

	#zen-participation p:nth-child(4){
		text-align: justify;	
		margin-right: 1%;
		margin-left: 1%;	
	}
}


/* override css for mobile browsers */
@media all and (max-width:400px) {
	body {
		font-size:1em;
	}

	.summary p{
		font-size: 1em;
	}

	.preamble h3{
		font-size: 2em;
	}
	.preamble p{
		font-size: 1em;
	}

	#zen-explanation p{
		font-size: .8em;
	}


	header h1{
		font-size: 3em;
	    width: 100%;
	    height: 200px;
	    padding: 100px 0.5em 0 0.5em;
	}

	header h2{ 
		width: 100%;
		background-image: url("../img/world.jpg");
		background-size: 100% 100%;
		height: 600px;
		font-size: 4em;
		color: #eef;
		text-align: center;
		clear:both;
	}

	#zen-participation h3{
		font-size: 2.5em;
	}

	#zen-participation p{
		font-size: .8em;
	}

}